:root {
    --transparent: transparent;
    --nNine: #3c224a;
    --nSix: #232040;
    --nThree: #84d0d9;
    --zero: #3bebd3;
    --three: #184a5c;
    --six: #00300f;
    --nine: #134f07;
    --twelve: #769400;
    --fifteen: #fc9292;
    --eighteen: #ab5824;
    --twentyOne: #a82c07;
    --twentyFour: #571000;
}

.bigButton {
    width: 50px;
    height: 50px;
}

#outDayColor {
    display: inline-block;
    padding: 50px;
    border-radius: 5px;
}

#outTemperature {
    display: inline-block;
    width: 75px;
}