:root {
    --transparent: transparent;
    --nNine: red;
    --nSix: blue;
    --nThree: green;
    --zero: orange;
    --three: purple;
    --six: lime;
    --nine: gray;
    --twelve: yellow;
    --fifteen: pink;
    --eighteen: brown;
    --twentyOne: cyan;
    --twentyFour: black;
}

.bigButton {
    width: 50px;
    height: 50px;
}

#outDayColor {
    display: inline-block;
    padding: 50px;
    border-radius: 5px;
}

#outTemperature {
    display: inline-block;
    width: 75px;
}