* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.navbarRight {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12.5px;
}

.navButtons {
    display: inline-block;
    margin: 0 10px;
}

nav {
    background-color: darkblue;
    color: #f9f9f9;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

button {
    border: 2px solid darkblue;
    background-color: darkblue;
    color: #f9f9f9;
}

button:hover {
    background-color: #f9f9f9;
    color: darkblue;
}

#headline {
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    color: #f9f9f9;
}

#headline:active {
    color: #f9f9f9;
}

.center {
    text-align: center;
    margin-top: 10%;
}

#bttnOpenMobileMenu {
    display: none;
}

@media (max-width: 800px) {
    #bttnOpenMobileMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 12.5px;
    }

    .center {
        margin-top: 5%;
        width: 100%;
        margin-left: 5px;
    }

    nav {
        height: auto;
        flex-flow: column;
    }

    .mobileMenuHidden {
        display: none;
    }

    .navButtons {
        display: block;
        margin: 5px;
    }

    .navButtons button {
        display: block;
        margin: auto;
    }

    .navbarRight {
        position: initial;
    }
}

.huge {
    font-size: 5em;
    font-weight: bolder;
    margin: 0;
}

details {
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;
}

details table {
    margin: auto;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

table tr:hover {
    background-color: darkblue;
    color: #f9f9f9;
}

.bigButton {
    width: 50px;
    height: 50px;
}